<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="utf-8">
    <link href="../css/bootstrap.min.css"
          th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <title>회원가입</title>
</head>
<style>
    p{
        font-weight: bold;
        color: #b02a37;
    }
    .fieldError{
        border-color: #b02a37;
    }
</style>
<body>
<div class="container" style="max-width: 600px">
    <div class="py-5 text-center">
        <h2>회원가입</h2>
    </div>
<form class="form-signin" th:action="@{/member/sign-up}" th:object="${request}"  method="post">
    <div>
        <label for="loginId" class="sr-only">로그인 ID</label>
        <input class="form-control" type="text" id="loginId" th:field="*{loginId}"
               th:class="${#fields.hasErrors('loginId')} ? 'form-control fieldError' : 'form-control'"/>
        <p th:if="${#fields.hasErrors('loginId')}" th:errors="*{loginId}"></p>
    </div>
    <div>
        <label for="name" class="sr-only">이름</label>
        <input class="form-control" type="text" id="name" th:field="*{name}"/>
    </div>
    <div>
        <label for="password" class="sr-only">비밀번호</label>
        <input class="form-control" type="password" id="password" th:field="*{password}"/>
    </div>
    <div>
        <label for="verifyPassword" class="sr-only">비밀번호 확인</label>
        <input class="form-control" type="password" id="verifyPassword" th:field="*{verifyPassword}"
               th:class="${#fields.hasErrors('loginId')} ? 'form-control fieldError' : 'form-control'"/>
        <p th:if="${#fields.hasErrors('verifyPassword')}" th:errors="*{verifyPassword}"></p>
    </div>
    <hr class="my-4">
    <div class="row">
        <div class="col">
            <button class="w-100 btn btn-primary btn-lg" type="submit" >회원가입</button>
        </div>
        <div class="col">
            <button class="w-100 btn btn-secondary btn-lg" th:onclick="|location.href='@{/}'|" type="button">
                취소
            </button>
        </div>
    </div>
</form>
</div>
</body>
<script>
    let message = "[[${msg}]]";
    if(message !== ""){
        alert(message);
    }
</script>
</html>